<div>
    <h1>Sign Up</h1>
        <%= form_with(model: @user, local: true) do |f| %>
        <%= f.label :name %>
        <%= f.text_field :name %>
        <%= f.submit "Submit" %>
    <% end %>
</div>
