<div class="home">    
    <h1>Courses Track App</h1>
    <ul>
        <li><button><%= link_to 'LOG IN', new_session_path %></button></li>
        <li><%= link_to 'SIGN UP', signup_path  %></li>
    </ul>
</div>