<%= render 'layouts/header' %>
<div class="home">    
    <h1>Courses Track App</h1>
    <ul>
        <li><%= link_to 'LOG IN', login_path, class: "button" %></li>
        <li><%= link_to 'SIGN UP', signup_path  %></li>
    </ul>
</div>