<h1>Welcome!</h1>
<p><%= link_to 'all my transactions', all_transactions_path %></p>
<p><%= link_to 'all my external transactions', all_external_transactions_path %></p>
<p><%= link_to 'all my groups', all_groups_path %></p>
<p><%= link_to 'log out', logout_path %></p>
