// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$main: #3778c2;
$second: #5fb523;
$text: #434b54;

body{
    font-family: 'proxima_nova_rgregular';
    font-weight: bold;
    color: $text;
    
}

//home

.home{ 
    display: flex;
    flex-direction: column;
    align-items: center; 
    h1{
        position: absolute;
        font-size: 2.2em;
        bottom: 50%;
        text-transform: capitalize;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: oblique;
    }
    ul{
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0 !important;
        padding: 0 !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        li{
            width: 95%;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                color: $text;
                size: 2em;
                &:hover{
                    text-decoration: none;
                }
            }
            button{
                height: 100%;
                background: $main;
                width: 100%;
                border: none;
                outline: none;
                &:hover{
                    background: #254c79;
                }
                a{
                    color: white;
                }
            }
        }
    }
}
