<div class="exterbal_transaction">
    <header>
        <div class="princ">
            <h2><span class="glyphicon glyphicon-align-justify"></span></h2>
            <h1>External Cour(s)</h1>
            <h2><span class="glyphicon glyphicon-search"></span></h2>
        </div>
        <div class="order">
            <p>Most recent</p>
            <p>Most ancient</p>
        </div>
    </header>
    <section>
        <% @transactions.each do |trans| %>
            <% if trans.groups.size < 1%>
                <article>
                    <ul>
                        <li>Vours Name: <%= link_to trans.name, trans %></li>
                        <li>Time: <%= pluralize(trans.total, 'hour') %></li>
                        <li>Created on : <%= trans.created_at.strftime("%d/%m/%Y") %></li>
                    </ul>
                </article>
            <% end %>
        <% end %>
        <p id="back"><%= link_to 'Back', transactions_path %></p>
    </section>
    <footer id="footer-show">
        <p>scan</p>
    </footer>
</div>